/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  color: white;
  background: linear-gradient(#fff8a8,pink,#d8f0ef);
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  line-height: 6em;
  word-spacing: 10em;
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}

 .h1 {
   font-size: 24pt;
   color:red;
 }

.text-line{
  visibility: hidden;
}
.show{
  visibility: visible;
}
