/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  color: white;
  background: linear-gradient(#fff8a8,pink,#d8f0ef);
  font-size: 2em;
  font-family: sans-serif;
  text-align: center;
  line-height: 8em;
  word-spacing: 8em;


}

 .h1 {
   font-size: 24pt;
   color:red;
 }

 .buttons {
   position:fixed;
   margin-bottom:0px;
   margin-right:5px;
   font-size: 25px;
   z-index: 101;
   bottom:0px;
   right: 0px;
 }

z
