

.buttonSemicircle {
 position:fixed;
 bottom: 0px;
 right: 0px;
 width: 50px;
 height: 50px;
 margin: 20px;
 transform: rotate(45deg);
}

.semicircle{
 height: 50px;
 width: 25px;
 background-color: #C54D9C;
 border-top-left-radius: 50px;
 border-bottom-left-radius: 50px;
}

.rotate:hover {
  animation: 1s linear 1 rotate;
  position: relative;
  transform-origin: 100% 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
