/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  color: white;
  background: linear-gradient(#fff8a8,pink,#d8f0ef);
  font-size: 0.75em;
  font-family: sans-serif;
  text-align: center;
  line-height: 8em;
  word-spacing: 16em;
}

 .h1 {
   font-size: 24pt;
   color:red;
 }

.text-line{
  visibility: hidden;
}
.show{
  visibility: visible;
}
