
/* Global Styles go here */
body {
  font-family: sans-serif;
  background-color: #e7e3f2;
  font-family: 'Libre Baskerville', serif;

}



.Sonia {
  font-size:5em;
  top: 10%;
  padding-left: 20%;
  padding-top: 15%;
  position: fixed;
  text-align:left;
  color: red;
  display: inline-block;

}

.Delauney {
  font-size:5em;
  top: 20%;
  bottom:10px;
  padding: 50px;
  position: fixed;
  text-align:center;
  color: red;
}


.buttonTopLeft{
  bottom: auto;
  right: auto;
  top: 0px;
  left:0px;
}

.buttonTopLeft .semicircle{
  background-color: #38af6d;
}

.dancinguys{
  width: 40%;
  height: 60vh;
  margin: 20vh auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.dancinguy1{
  background-image: url("../assets/dancing-guy1.jpg");
}

.dancinguy1:hover{
  background-image: url("../assets/dancing-guy1.gif");
}

.dancinguy2{
  background-image: url("../assets/dancing-guy2.jpg");
}

.dancinguy2:hover{
  background-image: url("../assets/dancing-guy2.gif");
}

.dancinguy3{
  background-image: url("../assets/dancing-guy3.jpg");
}

.dancinguy3:hover{
  background-image: url("../assets/dancing-guy3.gif");
}
