/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {

  color: white;
}

grad {
  background-image: linear-gradient(red, yellow, blue);
}

 h1 {
   font-size: 24pt;
   color:red;
 }
